body {
    background: lightgoldenrodyellow;
    font-family: 'PT Serif', serif;
}

h1 {
    text-shadow: 2px 2px 5px green;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.resume .content-wrapper {
    background: rgb(255 255 255 / 0.9);
}

.project-item {
    display: flow-root;
    margin: 30px 0;

}
.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;

}

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: brown;
}

footer {
    
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials img {
    width: 32px;
}

.socials li {
    display: inline-block;
}